<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
<body>
<h1>Them Khách Hàng Mới</h1>
<form action="/luu-khach-hang" method="post">
    <input type="text" name="TenKH" placeholder="Tên KH"/><br>
    <input type="text" name="DienThoai" placeholder="Điện Thoại"/><br>
    <textarea  name="DiaChi" placeholder="Địa CHỉ"></textarea><br>
    <input type="text" name="Email" placeholder="E mail"/><br>
    <button type="submit">Thêm Khách hàng</button>
</form>
</body>
</html>