*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
    font-size: 0.85vw; /*vw ko đổi hiển thị chữ khi zoom to nhỏ màn hình đi kèm với thẻ viewport*/
    background: #cccccc !important;
}
.kh{
    background: #FFFFFF;
    padding: 15px 30px 30px 15px;
}
.TD{
    font-weight: bolder !important;
    text-align: center;
}
.send{
    float: right;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sendin{
    margin-right: 10px;
}
.aa {
    color: #171717;
    text-decoration: none;
    background-color: transparent;
}

.aa:hover {
    color: #cccccc;
    text-decoration: none;
}

.TKH{
    padding: 30px 0;
}
.fromkh{
    margin-left: 200px;
}
.imgs{
    width: 50%;
}
.form-control.mb-2{
    width: 23%;
    background: #cccccc;
}
.khdssp{
    width: 100%;

}
.khdssp2{
    width: 100%;
}
.khdssp3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.khdssp4{
    border: 1px solid #cccccc;
    margin: 10px 10px;
    flex-basis: 30%;
    text-align: center;
}
.btdssp{
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.dssphm{
    padding: 30px 0;
}
.custom-select.mb-2{
    width: 23%;
    background: #cccccc;
}
.donhang{
    padding: 5px 0 5px 50px;
}
li{
    list-style: none;
}
.donhangul{
    padding-top: 10px;
}
.form-check-label.lab{
    font-size: 24px;
    padding-top: 10px;
    font-weight: bolder;
}
.sspan{
    font-size: 24px;
    font-weight: bolder;
}